body {
  height: 100vh;
  min-width: 950px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
}

.title {
  line-height: 100px;
  text-align: center;
  font-size: 5rem;
  letter-spacing: 6px;
  border-bottom: 2px solid black;
  font-family: 'Lobster', cursive;
}

@media (min-width: 1024px) and (min-height: 700px) {
  .title {
    line-height: 160px;
    font-size: 7rem;
  }
}

.container {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
}

.board {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 40px 0 auto;
  padding: 8px;
  min-width: 350px;
  min-height: 350px;
  width: 70vh;
  height: 70vh;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 10px -2px #555;
          box-shadow: 0px 0px 10px -2px #555;
  font-size: 0;
}

@media (min-width: 1024px) {
  .board {
    width: 65vh;
    height: 65vh;
  }
}

.board__disabled {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-color: #555;
}

.board__field {
  position: relative;
  width: 33.3%;
  height: 33.3%;
}

.board__field:hover {
  cursor: pointer;
  background-color: rgba(238, 238, 238, 0.6);
}

.board__field:nth-of-type(2) {
  border-right: 2px solid #666;
  border-left: 2px solid #666;
  border-bottom: 2px solid #666;
}

.board__field:nth-of-type(8) {
  border-right: 2px solid #666;
  border-left: 2px solid #666;
  border-top: 2px solid #666;
}

.board__field:nth-of-type(5) {
  border-right: 2px solid #666;
  border-left: 2px solid #666;
}

.board__field:nth-of-type(1), .board__field:nth-of-type(3) {
  border-bottom: 2px solid #666;
}

.board__field:nth-of-type(7), .board__field:nth-of-type(9) {
  border-top: 2px solid #666;
}

.board__field i {
  display: block;
  font-size: 0.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: signScale 0.1s linear 1 both;
          animation: signScale 0.1s linear 1 both;
}

@media (min-width: 1100px) and (min-height: 700px) {
  .board__field i {
    -webkit-animation: signScaleBig 0.1s linear 1 both;
            animation: signScaleBig 0.1s linear 1 both;
  }
}

.stats {
  width: 50%;
  padding: 0 10px 0 40px;
  border-left: 1px solid black;
  font-family: 'Sriracha', cursive;
}

.stats__infoH1 {
  display: block;
  width: 100%;
  min-width: 400px;
  height: 70px;
  line-height: 70px;
  font-size: 4rem;
  color: #2bb808;
  text-align: center;
  border-bottom: 1px solid black;
}

.stats__paragraph {
  display: block;
  margin: 20px 0;
  width: 100%;
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.stats__paragraph span {
  font-size: 3rem;
}

.stats__paragraph span i {
  color: black;
  font-size: 3rem;
}

.stats p:nth-last-of-type(1) {
  color: crimson;
}

.stats__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-width: 400px;
  margin-top: 40px;
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.stats__buttons-newGame {
  margin-right: 10px;
}

.stats__buttons-reset {
  margin-left: 10px;
}

.stats__buttons button {
  width: 50%;
  border: none;
  border-bottom: 2px solid black;
  border-radius: 5px;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #FFF;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  outline: none;
}

.stats__buttons button:hover {
  cursor: pointer;
  background-color: #ddd;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-top: 1px solid black;
}

@-webkit-keyframes signScale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(17);
            transform: scale(17);
  }
}

@keyframes signScale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(17);
            transform: scale(17);
  }
}

@-webkit-keyframes signScaleBig {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(25);
            transform: scale(25);
  }
}

@keyframes signScaleBig {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(25);
            transform: scale(25);
  }
}
/*# sourceMappingURL=main.css.map */