.title {
    line-height: 100px;
    text-align: center;
    font-size: 5rem;
    letter-spacing: 6px;
    border-bottom: 2px solid black;
    // font-family: 'Sriracha', cursive;
    font-family: 'Lobster', cursive;

    @media(min-width: 1024px) and (min-height: 700px) {
        line-height: 160px;
        font-size: 7rem;
    }
}

.container {
    width: 100vw;
    display: flex;
    padding: 40px;
}

.board {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 40px 0 auto;
    padding: 8px;
    min-width: 350px;
    min-height: 350px;
    width: 70vh;
    height: 70vh;
    border-radius: 4px;
    box-shadow: 0px 0px 10px -2px #555;
    font-size: 0;

    @media(min-width: 1024px) {
        width: 65vh;
        height: 65vh;
    }

    &__disabled {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.2;
        background-color: #555;
    }

    &__field {
        position: relative;
        width: 33.3%;
        height: 33.3%;

        &:hover {
            cursor: pointer;
            background-color: rgba(238, 238, 238, 0.6);
        }

        &:nth-of-type(2) {
            border-right: $border-thickness solid $border-color;
            border-left: $border-thickness solid $border-color;
            border-bottom: $border-thickness solid $border-color;
        }

        &:nth-of-type(8) {
            border-right: $border-thickness solid $border-color;
            border-left: $border-thickness solid $border-color;
            border-top: $border-thickness solid $border-color;
        }

        &:nth-of-type(5) {
            border-right: $border-thickness solid $border-color;
            border-left: $border-thickness solid $border-color;
        }

        &:nth-of-type(1),
        &:nth-of-type(3) {
            border-bottom: $border-thickness solid $border-color;
        }

        &:nth-of-type(7),
        &:nth-of-type(9) {
            border-top: $border-thickness solid $border-color;
        }

        i {
            display: block;
            font-size: 0.5rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            animation: signScale 0.1s linear 1 both;

            @media(min-width:1100px) and (min-height:700px) {
                animation: signScaleBig 0.1s linear 1 both;
            }
        }
    }
}

.stats {
    width: 50%;
    padding: 0 10px 0 40px;
    border-left: 1px solid black;
    // font-family: Arial, Helvetica, sans-serif;
    font-family: 'Sriracha', cursive;

    &__infoH1 {
        display: block;
        width: 100%;
        min-width: 400px;
        height: 70px;
        line-height: 70px;
        font-size: 4rem;
        color: rgb(43, 184, 8);
        text-align: center;
        border-bottom: 1px solid black;
    }

    &__paragraph {
        display: block;
        margin: 20px 0;
        width: 100%;
        font-size: 2.8rem;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;



        span {
            font-size: 3rem;

            i {
                color: black;
                font-size: 3rem;
            }
        }
    }

    p:nth-last-of-type(1) {
        color: crimson;
    }


    &__buttons {
        display: flex;
        width: 100%;
        min-width: 400px;
        margin-top: 40px;
        height: 50px;
        font-family: Arial, Helvetica, sans-serif;

        &-newGame {
            margin-right: 10px;
            // opacity: 0.2;
        }

        &-reset {
            margin-left: 10px;
        }

        button {
            width: 50%;
            border: none;
            border-bottom: 2px solid black;
            border-radius: 5px;
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: 700;
            background-color: #FFF;
            transition: 0.1s;
            outline: none;

            &:hover {
                cursor: pointer;
                background-color: #ddd;
            }
        }
    }
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-top: 1px solid black;
}

@keyframes signScale {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(17);
    }
}

@keyframes signScaleBig {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(25);
    }
}