.title {
    padding: 20px 0;
    text-align: center;
    font-size: 5rem;
    letter-spacing: 6px;
    border-bottom: 2px solid black;
    // font-family: 'Sriracha', cursive;
    font-family: 'Lobster', cursive;
}

.container {
    width: 100vw;
    display: flex;
    padding: 40px;
}

.board {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 40px 0 auto;
    padding: 8px;
    width: 70vh;
    min-width: 400px;
    min-height: 400px;
    height: 70vh;
    border-radius: 4px;
    box-shadow: 0px 0px 10px -2px #555;
    font-size: 0;

    &__disabled {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.2;
        background-color: #555;
    }

    &__field {
        position: relative;
        width: 33.3%;
        height: 33.3%;

        &:hover {
            cursor: pointer;
            background-color: rgba(238, 238, 238, 0.6);
        }

        &:nth-of-type(2) {
            border-right: $border-thickness solid $border-color;
            border-left: $border-thickness solid $border-color;
            border-bottom: $border-thickness solid $border-color;
        }

        &:nth-of-type(8) {
            border-right: $border-thickness solid $border-color;
            border-left: $border-thickness solid $border-color;
            border-top: $border-thickness solid $border-color;
        }

        &:nth-of-type(5) {
            border-right: $border-thickness solid $border-color;
            border-left: $border-thickness solid $border-color;
        }

        &:nth-of-type(1),
        &:nth-of-type(3) {
            border-bottom: $border-thickness solid $border-color;
        }

        &:nth-of-type(7),
        &:nth-of-type(9) {
            border-top: $border-thickness solid $border-color;
        }

        i {
            display: block;
            font-size: 0.5rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            animation: signScale 0.1s linear 1 both;
        }
    }
}

.stats {
    width: 50%;
    padding: 10px 10px 10px 40px;
    border-left: 1px solid black;
    // font-family: Arial, Helvetica, sans-serif;
    font-family: 'Sriracha', cursive;

    &__infoH1 {
        display: block;
        width: 100%;
        min-width: 400px;
        height: 70px;
        line-height: 70px;
        font-size: 4rem;
        color: rgb(43, 184, 8);
        text-align: center;
        border-bottom: 1px solid black;
    }

    &__paragraph {
        display: block;
        margin: 30px 0;
        width: 100%;
        font-size: 3rem;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;

        span {
            font-size: 3rem;
        }
    }

    &__buttons {
        display: flex;
        width: 100%;
        min-width: 400px;
        margin-top: 40px;
        height: 50px;
        font-family: Arial, Helvetica, sans-serif;

        &-newGame {
            margin-right: 10px;
            // opacity: 0.2;
        }

        &-reset {
            margin-left: 10px;
        }

        button {
            width: 50%;
            // border: none;
            border: 2px solid black;
            border-radius: 5px;
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: 700;
            background-color: #FFF;
            transition: 0.5s;

            &:hover {
                cursor: pointer;
                background-color: #ddd;
            }
        }
    }
}

@keyframes signScale {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(20);
    }
}