.winner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.8;
    background-color: rgb(60, 255, 11);
    z-index: 10;
    display: none;

}

.winnerH1 {
    position: fixed;
    line-height: 100vh;
    width: 100vw;
    margin: 0 auto;
    font-size: 5rem;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 20;
}

.title {
    padding: 20px 0;
    text-align: center;
    font-size: 5rem;
    letter-spacing: 6px;
    border-bottom: 2px solid black;
    // font-family: 'Sriracha', cursive;
    font-family: 'Lobster', cursive;
}

.board {
    display: flex;
    flex-wrap: wrap;
    margin: 40px auto 0;
    padding: 8px;
    width: 70vh;
    height: 70vh;
    border-radius: 4px;
    box-shadow: 0px 0px 10px -2px #555;
    font-size: 0;

    &__field {
        position: relative;
        width: 33.3%;
        height: 33.3%;

        &:hover {
            cursor: pointer;
            background-color: rgba(238, 238, 238, 0.6);
        }

        &:nth-of-type(2) {
            border-right: $border-thickness solid $border-color;
            border-left: $border-thickness solid $border-color;
            border-bottom: $border-thickness solid $border-color;
        }

        &:nth-of-type(8) {
            border-right: $border-thickness solid $border-color;
            border-left: $border-thickness solid $border-color;
            border-top: $border-thickness solid $border-color;
        }

        &:nth-of-type(5) {
            border-right: $border-thickness solid $border-color;
            border-left: $border-thickness solid $border-color;
        }

        &:nth-of-type(1),
        &:nth-of-type(3) {
            border-bottom: $border-thickness solid $border-color;
        }

        &:nth-of-type(7),
        &:nth-of-type(9) {
            border-top: $border-thickness solid $border-color;
        }

        i {
            display: block;
            font-size: 0.5rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            animation: signScale 0.1s linear 1 both;
        }
    }
}

@keyframes signScale {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(20);
    }
}